.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

/* Shows each dice in one row */
.RollDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Plane {
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: #FFFFFFFF;
    margin-top: 3em;
    align-self: center;
}

/* Styling rolldice button */
.Roll {
    margin-right: 10px;
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
    align-self: center;
}

.Reset {
    margin-left: 10px;
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
    align-self: center;
}

/* Setting hover effect on button */
.RollDice button:hover {
    cursor: pointer;
}

.RollDice-rolling {
    border: 0px;
    border-radius: 10px;
    background-color: darkslateblue !important;
    opacity: 0.7
}

.image {
    width: 10em;
}

.Share {
    padding: 3.5em;
    display: flex;
    justify-content: center;
    align-content: center;
}